<section class="call-to-action rss | stack gutters spacing | radius shadow | no-print">
  <h2 class="ft-fc-accent ft-sz-trafalgar ft-wt-ounce ft-lh-mean hero-title">Real. Simple. Syndication.</h2>
  <p>Get my latest content in your favorite RSS reader. I use <a href="https://www.inoreader.com">InoReader</a> but you don't have to.</p>
  <p><a href="https://rss.com/blog/how-do-rss-feeds-work/" target="_blank" rel="nofollow noopener noreferrer">What even is an RSS feed?!</a></p>
  <a href="/feed.xml" class="button lrg default secondary with-icon">
    Subscribe
    {% set icon = 'rss' %}
    {% include "partials/atom/icon.html" %}
  </a>
</section>
