<section class="comments-section | stack gutters spacing | radius shadow | no-print">
  <h2 class="ft-fc-accent ft-sz-trafalgar ft-wt-ounce ft-lh-mean">Comments</h2>
  <p>In almost all cases, the comments section is a vile cesspool of Reply Guys, racists, and bots.</p>
  <p>I don't want to have to deal with that kind of hell so I don't have a comments section.</p>
  <p>
    If you want to continue the conversation, you can always hit me up on
    <a href="{{context.me.profile.mastodon.url}}" target="_blank" rel="nofollow noreferrer noopener">{{context.me.profile.mastodon.name | safe}}</a>
    (which is not a vile cesspool of Reply Guys, racists, and bots).
  </p>
</section>
